= simple_form_for(@stock) do |f|
  = f.error_notification

  .form-inputs
    = f.association :food, include_blank: false
    = f.input :price
    = f.input :quantity
    = f.association :store, label: 'Store Name', include_blank: false
    = f.input :discount
    = f.input :bought
    = f.input :user_id, as: :hidden, input_html: {value: current_user.id}

  .form-actions
    = f.button :submit
