= simple_form_for(@food) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :producer, include_blank: false
    = f.input :upc
    = f.input :servings
    = f.input :serving_size
    = f.association :unit, include_blank: false

  .form-actions
    = f.button :submit